
<style>
.frosty {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.40);
}
</style>

<h1 style="color:white;background-color:transparent !important;"> Welcome to Ocelot</h1>
<h4 style="color:white;background-color:transparent !important;">A mental health tracking system.</h4>


<div class="row">
  <div class="large-4 columns"><%= image_tag "light-person-woman-night.jpg" %></div>
  <div class="large-4 columns"><%= image_tag "woman-lake.jpg" %></div>
  <div class="large-4 columns"><%= image_tag "laptop-notebook-working-outside.jpg" %></div>
</div>
